@model LibraryMVC.Application.PublisherListVm

@{
    ViewData["Title"] = "Publishers";
}

<h1>Publishers</h1>

<p>
    <a asp-controller="Book" asp-action="">Create Publisher</a>
    |
    <a asp-controller="Book" asp-action="Index">Books</a>
    |
    <a asp-controller="Author" asp-action="Index">Authors</a>
    |
    <a asp-controller="Category" asp-action="Index">Categories</a>
    |
    <a asp-controller="TypeOfBook" asp-action="Index">TypeOfBooks</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Publishers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Books", "", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Book" asp-action="Index">Back</a>