@model LibraryMVC.Application.PublisherListVm

@{
    ViewData["Title"] = "Publishers";
}
<h1>Publishers</h1>

<div id="PlaceHolderHere"></div>

<p>
    <button class="btn btn-primary" data-toggle="ajax-modal" data-target="#addPublisher"
            data-url="@Url.Action("CreatePublisher")">
        Create
    </button>
    <a class="btn btn-secondary" asp-controller="Book" asp-action="Index">Books</a>
    <a class="btn btn-secondary" asp-controller="Author" asp-action="Index">Authors</a>
    <a class="btn btn-secondary" asp-controller="TypeOfBook" asp-action="Index">Types</a>
    <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Categories</a>
    <a class="btn btn-secondary" asp-controller="Publisher" asp-action="Index">Publishers</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Publishers)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBooks)
            </td>
            <td>
                @if (item.Id != 1)
                {
                    <button class="btn btn-secondary" data-toggle="ajax-modal" data-target="#editPublisher"
                            data-url="@Url.Action("EditPublisher",new { @item.Id })">
                        Edit
                    </button>                  
                }
                <a asp-controller="Book" asp-action="Index" asp-route-publisherId="@item.Id" class="btn btn-primary">Books</a>
                @if (item.Id != 1)
                {
                    <a asp-controller="Publisher" asp-action="DeletePublisher" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
            </td>

        </tr>
        }
    </tbody>
</table>