@model LibraryMVC.Application.CategoryVm
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>

<div id="PlaceHolderHere"></div>

<p>
    <button class="btn btn-primary" data-toggle="ajax-modal" data-target="#addCategory"
            data-url="@Url.Action("CreateCategory")">
        Create
    </button>
    <a class="btn btn-secondary" asp-controller="Book" asp-action="Index">Books</a>
    <a class="btn btn-secondary" asp-controller="Author" asp-action="Index">Authors</a>
    <a class="btn btn-secondary" asp-controller="TypeOfBook" asp-action="Index">Types</a>
    <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Categories</a>
    <a class="btn btn-secondary" asp-controller="Publisher" asp-action="Index">Publishers</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Category)
        {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.Name
            </td>
            <td>
                @item.NumberOfBooks
            </td>
            <td>
                @if (item.Id != 1)
                {
                    <button class="btn btn-secondary" data-toggle="ajax-modal" data-target="#editCategory"
                            data-url="@Url.Action("EditCategory",new { @item.Id })">
                        Edit
                    </button>
                }
                <a asp-controller="Book" asp-action="Index" asp-route-categoryId="@item.Id" class="btn btn-primary">Books</a>
                @if (item.Id != 1)
                {
                    <a asp-controller="Category" asp-action="DeleteCategory" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>