@model LibraryMVC.Application.TypeOfBookListVm

@{
    ViewData["Title"] = "Types";
}

<h1>Types</h1>
<div id="PlaceHolderHere"></div>

<p>
    <button class="btn btn-primary" data-toggle="ajax-modal" data-target="#addTypeOfBook"
            data-url="@Url.Action("CreateTypeOfBook")">
        Create
    </button>   
    <a class="btn btn-secondary" asp-controller="Book" asp-action="Index">Books</a>   
    <a class="btn btn-secondary" asp-controller="Author" asp-action="Index">Authors</a>  
    <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Categories</a>   
    <a class="btn btn-secondary" asp-controller="Publisher" asp-action="Index">Publishers</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
            <th>
                Number
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TypesOfBooks)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBooks)
            </td>
            <td>
                @if (item.Id != 1)
                {
                <button class="btn btn-secondary" data-toggle="ajax-modal" data-target="#editTypeOfBook"
                        data-url="@Url.Action("EditTypeOfBook",new { @item.Id })">
                    Edit
                </button>
                }
                <a asp-controller="TypeOfBook" asp-action="" asp-route-id="@item.Id" class="btn btn-primary">Books</a>
                @if (item.Id != 1)
                {
                    <a asp-controller="TypeOfBook" asp-action="DeleteTypeOfBook" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                }
            </td>
        </tr>
        }
    </tbody>
</table>