@model LibraryMVC.Application.ReservationListVm

@{
    ViewData["Title"] = "Reservation";
    ViewData["Controller"] = "Reservation";
    ViewData["Action"] = "Index";
}

<h1>Reservations</h1>

<div id="PlaceHolderHere"></div>


@if (User.IsInRole("Admin") || User.IsInRole("Employee"))
{
<p>
    <button class="btn btn-primary" data-toggle="ajax-modal" data-target="#createLocalReservation"
            data-url="@Url.Action("CreateLocalReservation")">
        Create Reservation
    </button>
</p>
}

<form class="form-inline my-2 my-lg-0" asp-controller="Reservation" asp-action="Index" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchString" id="searchString" asp-for="SearchString">
    <input type="hidden" asp-for="ReservationsByCustomerId" />
    <input type="hidden" asp-for="WhoReservationFilter" />
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Customer
            </th>
            <th>
                Book
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ListOfReservationForListVm)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.From)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.To)
                </td>
                <td>
                    <a asp-controller="Reservation" asp-action="ReservationDetails" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                    {
                        <a asp-controller="Reservation" asp-action="DeleteReservation" asp-route-id="@item.Id" 
                           asp-route-reservationsByCustomerId="@item.CustomerId" asp-route-whoReservationFilter="@Model.WhoReservationFilter" class="btn btn-danger">Delete</a>
                        
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PaginationPartial" view-data="ViewData" model="Model" />
