@model LibraryMVC.Application.AuthorListVm

@{
    ViewData["Title"] = "Authors";
    ViewData["Controller"] = "Author";
    ViewData["Action"] = "Index";
}

<h1>Authors</h1>

<p>
    @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
    {
        <a class="btn btn-primary" asp-controller="Author" asp-action="AddAuthor">Create</a>
    }
    <a class="btn btn-secondary" asp-controller="Book" asp-action="Index">Books</a>
    <a class="btn btn-secondary" asp-controller="Author" asp-action="Index">Authors</a>
    <a class="btn btn-secondary" asp-controller="TypeOfBook" asp-action="Index">Types</a>
    <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Categories</a>
    <a class="btn btn-secondary" asp-controller="Publisher" asp-action="Index">Publishers</a>
</p>
<form class="form-inline my-2 my-lg-0" asp-controller="Author" asp-action="Index" method="get">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchString" id="searchString" asp-for="SearchString">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                FirstName
            </th>
            <th>
                LastName
            </th>
            <th>
                Books
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Authors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfBooks)
                </td>
                <td>
                    @if (item.Id != 1)
                    {
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <a asp-controller="Author" asp-action="EditAuthor" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        }
                    }
                    <a asp-controller="Author" asp-action="AuthorDetails" asp-route-id="@item.Id" asp-route-isAuthorDetailsByBookId=false class="btn btn-primary">Details</a>
                    @if (item.Id != 1)
                    {
                        @if (User.IsInRole("Admin") || User.IsInRole("Employee"))
                        {
                            <a asp-controller="Author" asp-action="DeleteAuthor" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        }
                    }
                </td>
            </tr>

        }
    </tbody>
</table>

<partial name="_PaginationPartial" view-data="ViewData" model="Model" />