@model LibraryMVC.Application.BookListVm

@{
    ViewData["Title"] = ViewBag.Title;
    ViewData["Controller"] = "Book";
    ViewData["Action"] = "Index";
}

<h1>@ViewBag.Title</h1>



<p>
    <a class="btn btn-primary" asp-controller="Book" asp-action="AddBook">Create</a>
    <a class="btn btn-secondary" asp-controller="Book" asp-action="Index">Books</a>
    <a class="btn btn-secondary" asp-controller="Author" asp-action="Index">Authors</a>
    <a class="btn btn-secondary" asp-controller="TypeOfBook" asp-action="Index">Types</a>
    <a class="btn btn-secondary" asp-controller="Category" asp-action="Index">Categories</a>
    <a class="btn btn-secondary" asp-controller="Publisher" asp-action="Index">Publishers</a>

</p>
    <form class="form-inline my-2 my-lg-0" asp-controller="Book" asp-action="Index" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchString" id="searchString" asp-for="SearchString">
        <input type="hidden" asp-for="Filter" />
        <input type="hidden" asp-for="FilterId" />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Type
                </th>
                <th>
                    Publisher
                </th>
                <th>
                    Category
                </th>
                <th>
                    Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ListOfBookForList)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeOfBook)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Publisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        <a asp-controller="Book" asp-action="EditBook" asp-route-id="@item.Id" class="btn btn-secondary">Edit</a>
                        <a asp-controller="Book" asp-action="DetailsBook" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                        <a asp-controller="Book" asp-action="DeleteBook" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <partial name="_PaginationPartial" view-data="ViewData" model="Model" />

